$primary-color: hsl(186.6, 71.1, 82.4);
$primary-color-light: hsl(180, 100, 94.9);
$primary-color-dark: hsl(185.8, 32.6, 62.7);
$secondary-color: hsl(14.4, 100, 56.7);
$secondary-color-light: hsl(19.9, 100, 65.7);
$secondary-color-dark: hsl(8.6, 100, 38.4);
$heading-color: hsl(186, 20%, 20%);
$text-color: hsl(186, 14%, 14%);
$secondary-text-color: hsl(186, 30%, 30%);

$serif: 'Roboto', sans-serif;
$sans: 'Roboto', sans-serif;

html {
  font-size: 16px;
}

body {
  background-color: $primary-color-light;
  background-image: url("bg.svg");
  background-size: 250px;
  padding-top: 80px;
  padding-bottom: 250px;

  @media only screen and (min-width: 1000px) {
    padding-bottom: 150px;
    background-size: 750px;
  }
}

main {
  overflow: hidden;
  width: 100%;
}

.feed--no-posts {
  margin-bottom: -250px;
}

.funpage-bar {
  position: fixed;
  z-index: 1;
  top: 0;
  left: 50%;
  height: 64px;
  width: 100%;
  max-width: 800px;
  display: flex;
  background: repeating-linear-gradient(
    135deg,
    white,
    white 10px,
    hsl(180, 100, 98.0) 10px,
    hsl(180, 100, 98.0) 20px
  );
  box-shadow: 0px 1px 5px 0px rgba(7, 26, 32, 0.20), 0px 5px 15px 0px rgba(7, 26, 32, 0.05);
  transform: translateX(-50%);
}

.funpage-bar__avatar {
  z-index: 1;
  width: 64px;
  height: 100%;
  flex-shrink: 0;
  cursor: pointer;
  
  &:focus {
    outline: none;
    box-shadow: 3px 3px 0 $primary-color-dark;
  }
}

.funpage-bar__texts-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 8px;
}

.funpage-bar__bottom-container {
  width: 100%;
  display: flex;
  align-items: flex-end;
}

.funpage-bar__name {
  font-size: 1rem;
  font-family: $sans;
  line-height: 1.2;
  color: $heading-color;
}

.funpage-bar__time-progress {
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 100%;
  height: 2px;
  border: 0px solid transparent;

  &::-webkit-progress-bar {
    background-color: transparent;
    transition: width 0.6s;
  }
  &::-webkit-progress-value {
    background-color: $secondary-color;
    transition: width 0.6s linear;
  }
  &::-moz-progress-bar {
    background-color: $secondary-color;
  }

  &::-ms-fill {
    background-color: $secondary-color;
    transition: width 0.6s linear;
    border: none;
  }
}

.funpage-bar__admin-note {
  font-size: 0.875rem;
  font-family: $sans;
  margin-right: auto;
  flex-shrink: 0;
  color: $heading-color;

  @media only screen and (max-width: 359px) {
    display: none;
  }
}

.funpage-bar__emoji {
  font-size: 1rem;
}

.funpage-bar__trending-note {
  display: block;
  font-size: 0.875rem;
  font-family: $sans;
  text-align: right;
  margin-left: 4px;
  color: $text-color;

  &::first-letter {
    font-size: 1.25;
  }
}

.funpage-bar__followers-number {
  font-size: 1.25rem;
  font-family: $sans;
  margin-right: 8px;
  color: $heading-color;
}

.posts-list {
  @media only screen and (min-width: 600px) {
    max-width: 600px;
    margin: auto;
  }
}

.post__container, .welcome-message__container {
  background-color: $primary-color;
  position: relative;
  padding: 8px;
  width: 90%;
  margin: auto;
  box-shadow: 4px 4px 0 $primary-color-dark;
}

.post__header {
  display: flex;
}

.post__avatar {
  height: 64px;
  width: 64px;
  margin-left: -8px;
  margin-top: -8px;
  cursor: pointer;
}

.post__title, .welcome-message__heading {
  font-size: 1.75rem;
  font-family: $sans;
  margin-left: 16px;
  align-self: flex-end;
  line-height: 1.2;
  color: $heading-color;
}

.post__hashtags {
  position: absolute;
  left: 80px;
  top: 8px;
  font-size: 0.75rem;
  font-family: $sans;
  color: $secondary-text-color;
  max-width: calc(100% - 150px);
}

.post__text, .welcome-message__text {
  font-size: 1.125rem;
  line-height: 1.4;
  margin: 8px 8px 0;
  font-family: $serif;
  color: $text-color;
}

.post__date {
  position: absolute;
  top: 8px;
  right: 8px;
  font-size: 0.75rem;
  font-family: $sans;
  color: $secondary-text-color;
}

.post__reactions {
  position: absolute;
  bottom: -24px;
  right: 16px;
  display: flex;
  padding: 4px 8px;
  background-color: $primary-color;
  font-size: 1rem;
  font-family: $sans;
  color: $text-color;
  box-shadow: 4px 4px 0 $primary-color-dark;
}

.post__heart-icon {
  width: 16px;
  height: 16px;
  margin-left: 4px;
  margin-right: 8px;
}

.post__comments-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px 5% 48px 7%;
}

.welcome-message__container {
  max-width: 600px;
  opacity: 0;
  transform: translateY(-10px);
  animation: fadeInTop 0.5s forwards;
  overflow: hidden;
}

.welcome-message__heading {
  position: relative;
  margin: 16px 8px;
  &::after {
    content: "🎉";
    font-size: 1em;
    position: absolute;
    right: 16px;
    top: -8px;
  }
}

.welcome-message__conditions-list {
  overflow: hidden;
}

.welcome-message__condition {
  margin: 24px auto;
  font-size: 1.125rem;
  line-height: 1.4;
  font-family: $serif;
  color: $text-color;
  width: 80%;
  max-width: 500px;
  background-color: $primary-color;
  padding: 5px 10px;
  box-shadow: 3px 3px 0 $primary-color-dark;
  opacity: 0;
  transform: translateX(50px);
  animation: fadeInRight 0.5s 0.7s forwards;
  border-left: 3px solid $secondary-color-light;

  &:first-child {
    margin-top: 40px;
    animation: fadeInRight 0.5s 0.5s forwards;
  }
  &:last-child {
    margin-bottom: 40px;
    animation: fadeInRight 0.5s 0.9s forwards;
  }
}

.welcome-message__text {
  line-height: 1.4;
  margin-bottom: 16px;
  margin-top: 16px;
}

.useful-text {
  text-decoration: underline $secondary-color-light dashed;
}

.welcome-message__start-button {
  display: block;
  margin: 12px auto 4px;
  background-color: $secondary-color;
  font-family: $sans;
  font-size: 1.125rem;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  opacity: 0;
  transform: translateY(10px);
  animation: fadeInBottom 0.5s 1.1s forwards;
  cursor: pointer;

  &:focus {
    box-shadow: 4px 4px 0 $primary-color-dark;
  }
}

@keyframes fadeInTop {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    transform: translateX(50px);

  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeInBottomRight {
  from {
    opacity: 0;
    transform: translate(25px, 10px);

  }
  to {
    opacity: 1;
    transform: translate(0, 0);
  }
}

@keyframes fadeInBottom {
  from {
    opacity: 0;
    transform: translateY(10px);

  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.welcome-message-exit {
  opacity: 1;
}
.welcome-message-exit-active {
  opacity: 0;
  transition: opacity 200ms;
}
.welcome-message-exit-done {
  display: none;
}

.comment {
  position: relative;
  display: flex;
  margin: 20px 0 15px;
  background-color: $primary-color;
  padding: 5px 10px 5px 5px;
  box-shadow: 3px 3px 0  $primary-color-dark;
  opacity: 0;
  transform: translate(25px, 10px);
  animation: fadeInBottomRight 0.5s forwards;

  &::before {
    content: "";
    position: absolute;
    top: 0px;
    left: -25px;
    width: 20px;
    height: 15px;
    background-image: url("./quot_marks.svg");
    background-size: cover;
  }

  @media only screen and (min-width: 700px) {
    left: -50px;
  }
}

.comment__texts-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.comment__photo {
  flex-shrink: 0;
  align-self: flex-end;
  width: 48px;
  height: 48px;
}

.comment__name {
  font-family: $sans;
  font-size: 0.875rem;
  line-height: 1.2;
  margin-left: 8px;
  color: $text-color;
}

.comment__text {
  position: relative;
  font-size: 1.125rem;
  line-height: 1.2;
  margin-left: 8px;
  margin-bottom: 4px;
  font-family: $serif;
  color: $text-color;
}

.new-post {
  width: 100%;
  position: fixed;
  z-index: 1;
  bottom: 0;
  background-color: rgba(255,255,255, 0.95);
  border-top: 2px solid $primary-color-dark;
  transition: transform 0.3s;
  transform: translateY(0%);
  background: repeating-linear-gradient(
    45deg,
    white,
    white 10px,
    hsl(180, 100, 99) 10px,
    hsl(180, 100, 99) 20px
  );

  &:focus {
    outline: none;
  }

  @media only screen and (min-width: 700px) {
    width: 700px;
    left: calc(50% - 350px);
    border-radius: 8px 8px 0 0;
    border-left: 2px solid $primary-color-dark;
    border-right: 2px solid $primary-color-dark;
    background: repeating-linear-gradient(
      45deg,
      white,
      white 10px,
      hsl(180, 100, 98.0) 10px,
      hsl(180, 100, 98.0) 20px
    );
  }
}

.new-post--hidden {
  transform: translateY(100%);
  transition: transform 0.3s;
}

.new-post__setup {
  margin: 8px 8px 4px 8px;
  font-family: $serif;
  font-size: 1.125rem;
  color: $text-color;
  line-height: 1.2
}

.new-post__punchlines-list {
  box-sizing: border-box;
  margin: 4px 8px 8px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;

  &:focus {
    outline: none;
  }
}

.new-post__punchline {
  order: 5;
}

.new-post__punchlines-button {
  margin: 4px;
  font-family: $serif;
  font-size: 1rem;
  padding: 2px 4px;
  border: 2px solid $primary-color-dark;
  background-color: white;
  transition: border 0.2s, box-shadow 0.2s;
  color: $text-color;

  &:hover {
    cursor: pointer;
  }

  &:focus {
    outline: none;
    box-shadow: 2px 2px 0 $secondary-color-light;
  }
}

.new-post__punchlines-button--chosen {
  border: 2px solid $secondary-color-light;
  box-shadow: 1px 1px 0 $secondary-color-light;
}

.new-post__add-post-button {
  position: absolute;
  right: 48px;
  top: -41px;
  height: 40px;
  width: 40px;
  font-family: $sans;
  font-size: 1.875rem;
  border: 2px solid $primary-color-dark;
  background-color: $primary-color-dark;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  color: $text-color;
  transform: scale(1.3);
  transition: color 0.1s, transform 0.1s;
  transform-origin: bottom center;

  &:focus {
    outline: none;
    outline-width: thin;
    outline-color: $secondary-color-dark;
    outline-style: dashed;
  }

  &:hover {
    cursor: pointer;
  }

  &:disabled {
    color: $secondary-text-color;
    transform: scale(1);
    cursor: auto;
  }

  &:disabled:focus {
    outline: none;
  }

  &::before {
    content: "";
    display: block;
    position: absolute;
    left: -16.5px;
    bottom: -2px;
    width: 15px;
    height: 15px;
    background-image: url("./counter-corner-secondary.svg");
    background-size: cover;
    background-repeat: no-repeat;
    transform: scale(-1, -1);
  }

  &::after {
    content: "";
    display: block;
    position: absolute;
    right: -16.5px;
    bottom: -2px;
    width: 15px;
    height: 15px;
    background-image: url("./counter-corner-secondary.svg");
    background-size: cover;
    background-repeat: no-repeat;
    transform: scaleY(-1);
  }
}

.post-enter {
  opacity: 0;
  transform: scale(0.9);
}
.post-enter-active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 400ms, transform 400ms;
}

.avatar-modal {
  position: fixed;
  z-index: 3;
  left: 0;
  top: 0;
  width: 240px;
  height: 100vh;
  background-color: $primary-color-light;
  overflow-y: auto;

  &:focus {
    outline: none;
  }
}


.avatar-modal__background, .modal__background, .game-over-message__background {
  position: fixed;
  top:0;
  left: 0;
  z-index: 2;
  display: block;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.75);
}

.avatar-modal__image {
  width: 96px;
  height: 96px;
}

.avatar-modal__heading {
  font-family: $sans;
  color: $text-color;
  font-size: 1.25rem;
  margin: 24px 16px;
  line-height: 1.1;
}

.avatar-modal__avatars-list {
  display: flex;
  flex-direction: column;
}

.avatar-modal__avatar {
  display: flex;
  margin: 0 8px 24px;

  &:last-child {
    height: 64px;
    flex-direction: column;
  }
}

.avatar-modal__choose-button, .avatar-modal__file-input-label {
  background-color: transparent;
  border: 2px solid $primary-color-dark;
  margin: auto;
  justify-self: center;
  height: 40px;
  font-family: $sans;
  color: $text-color;
  font-size: 1rem;
  cursor: pointer;

  &:focus {
    outline: none;
    box-shadow: 2px 2px 0 $secondary-color-light;
  }
}

.avatar-modal__file-input-label {
  height: auto;
  padding: 10px 6px;
  line-height: 100%;
}

.avatar-modal__file-input {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;

  &:focus + .avatar-modal__file-input-label {
    outline: none;
    box-shadow: 2px 2px 0 $secondary-color-light;
  }
}

.avatar-modal__choose-button--chosen {
  border-color: $secondary-color-light;
  box-shadow: 1px 1px 0 $secondary-color-light;
}

.avatar-modal__file-input-note {
  margin: 16px 8px;
  font-family: $sans;
  font-size: 0.75rem;
  color: hsl(186, 5%, 30%);
  line-height: 1.2;
}

.modal__background--exit {
  opacity: 1;
}
.modal__background--exit-active {
  opacity: 0;
  transition: opacity 300ms;
}
.modal__background--exit-done {
  display: none;
}
.modal__background--enter {
  opacity: 0;
}
.modal__background--enter-active {
  opacity: 1;
  transition: opacity 300ms;
}

.modal--exit {
  opacity: 1;
}
.modal--exit-active {
  opacity: 0;
  transition: opacity 300ms;
}
.modal--exit-done {
  display: none;
}
.modal--enter {
  opacity: 0;
}
.modal--enter-active {
  opacity: 1;
  transition: opacity 300ms;
}

.instructions-message {
  position: absolute;
  top: 50px;
  left: 50%;
  margin: 50px auto;
  padding: 10px;
  width: 300px;
  text-align: center;
  font-size: 1.375rem;
  font-family: $sans;
  line-height: 1.2;
  color: $heading-color;
  opacity: 0;
  transform: translate(-50%, -10px);
  animation: messageIntro 0.3s 0.3s forwards;
  background-color: $primary-color;
  box-shadow: 5px 5px 0 $primary-color-dark;
}

@keyframes messageIntro {
  from {
    opacity: 0;
    transform: translate(-50%, -10px);
  }
  to {
    opacity: 1;
    transform: translate(-50%, 0);
  }
}

.game-over-message {
  position: fixed;
  z-index: 2;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  max-width: 800px;
  margin: 50px auto;
  background-color: $primary-color;
  box-shadow: 4px 4px 0 $secondary-color-dark;
  padding: 8px;

  &:focus {
    outline: none;
  }
}

.game-over-message__heading {
  font-family: $sans;
  color: $heading-color;
  margin: 16px;
  font-size: 1.5rem;
  line-height: 1.1;
}

.game-over-message__text {
  color: $text-color;
  font-family: $sans;
  font-size: 1rem;
  line-height: 1.2;
  margin: 24px 16px;
}

.game-over-message__contact-text {
  font-family: $sans;
  font-size: 0.875rem;
  color: $secondary-text-color;
  line-height: 1.2;
  margin: 8px 16px;
}

.game-over-message__close-button {
  color: $text-color;
  display: block;
  font-family: $sans;
  font-size: 1rem;
  margin: 24px 16px 16px auto;
  padding: 4px 8px;
  border: 2px solid $primary-color-dark;
  background-color: #ffffff;
  cursor: pointer;
  right: 16px;
  &:focus {
    outline: none;
    box-shadow: 2px 2px 0 $secondary-color-light;
  }
}

.author-footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-top: 80px;

  @media only screen and (min-width: 500px) and (min-height: 650px) {
    position: fixed;
    left: 0;
    bottom: 0;
  }
}

.author-footer__text {
  font-size: 0.825rem;
  font-family: $sans;
  color: $secondary-text-color;
  line-height: 1.2;
  margin: 0 8px 4px;
}

.author-footer__link {
  color: $secondary-text-color;
}